@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0D0C0C;
}

.navbar {
    background-color: black;
    height: 90px;
    font-size: 18px;
}

.navbar-nav .nav-link {
    color: #D4AF37;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #FFF282;
}
.btn-login {
    background-color: #D4AF37;
    color: #000000;
}

.btn-login:hover {
    background-color: #FFF282;
    color: #000000;
}
.footerItem {
    color: black;
}

.circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    color: #000;
    margin: 5px;
}

.footer-section {
    background-color: #D4AF37;
    padding: 40px 0;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-item {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-item:hover {
    color: #FFF282;
}

.social .footer-item {
    font-size: 20px;
    margin: 0 5px;
    color: black;
}

.social .footer-item:hover {
    color: #D4AF37;
}

@media only screen and (max-width: 940px) {
    .navbar {
        background: #000 !important;
        color: #fff !important;
        text-align: center;
        top: 0;
    }

    .navbar-nav .nav-item {
        background: #000;
    }

    .navbar-collapse {
        background-color: black;
        padding-bottom: 40px;
    }
}

.carousel-item img {
    height: 720px;
    object-fit: cover;
}
.btn-log {
    background-color: #D4AF37;
    color: #000000;
}

.btn-log:hover {
    background-color: #FFF282;
    color: #000000;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    position: absolute;
    bottom: 80px;
    left: 20px;
    right: 20px;
}
.card-color {
    background-color: #000000;
    color: white;
}

.link-style {
    color: white;
    text-decoration: underline;
}

.btn-card {
    background-color: white;
    color: #000000;
}

.btn-card:hover {
    background-color: #D4AF37;
    color: #000000;
}

.custom-margin {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
    .carousel-item img {
        height: 340px;
        object-fit: cover;
    }
    .carousel-caption {
        position: absolute;
        bottom: 80px;
        left: 0px;
        right: 0px;
    }
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: #FFF282;
    color: #000000;
}

.owl-nav button span {
    font-size: 28px;
    height: 100%;
    display: block;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-carousel .owl-nav {
    margin: 0;
}
.card-body-test {
    padding: 40px;
}
.custom-card {
    min-height: 450px;
    background-color: #D4AF37;
    border: solid 3px white;
}

.rating-box {
    position: relative;
    background: #fff;
    padding: 15px;
    justify-content: center;
    border-radius: 15px;
}
.rating-box .stars {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.stars i {
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.rate {
    padding-right: 10px;
}
.custom-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}